# Random group generator for Latin-squaring
Table Creator for PennController Experiments

In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.preprocessing import scale
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl 
import os
import csv

In [49]:
bn_cats = pd.read_csv("bn_cats.csv")
bn_facts = pd.read_csv("bn_facts.csv")
cb_cats = pd.read_csv("cb_cats.csv")
cb_facts = pd.read_csv("cb_facts.csv")

In [102]:
len(bn_cats)

36

We want to substitute in the value of Token in each facts.csv with every possible Token from the respective cats.csv

## Add the .csv of factors to the .csv of tokens to create the whole file with all combinations of factors and tokens/categories

In [51]:
bn_facts["temp"] = "1"
bn_cats["temp"] = "1"
cb_facts["temp"] = "1"
cb_cats["temp"] = "1"

In [53]:
bn_facts.head()

,SentNumber,Quantifier,Matrix,WhichCategory,Subject,Predicate,Group,SentType,Verb,Embedded,temp
0,1,some,NaN,Matching,Token,Category,NaN,T1,none,0,1
1,2,some,Zoologists knows that,Matching,Token,Category,NaN,T1,know,1,1
2,3,some,Zoologists says that,Matching,Token,Category,NaN,T1,say,1,1
3,4,some,NaN,Mismatching,Token,Category,NaN,T3,none,0,1
4,5,some,Zoologists knows that,Mismatching,Token,Category,NaN,T3,know,1,1

Add the two .csv files together in the right way

In [187]:
bn_table = pd.merge(bn_facts,bn_cats, on="temp").drop("temp", axis=1).rename(columns={"Token_x" :"Token"})
# bn_table.to_csv("bn_table.csv", header=True)

In [195]:
cb_table = pd.merge(bn_facts,bn_cats, on="temp").drop("temp", axis=1).rename(columns={"Token_x" :"Token"})
# cb_table.to_csv("cb_table.csv", header=True)

In [231]:
bn_table = bn_table.drop(columns=["Group"])
cb_table = cb_table.drop(columns=["Group"])

In [232]:
bn_table

,SentNumber,Quantifier,Matrix,WhichCategory,Subject,Predicate,SentType,Verb,Embedded,Token,MatchingCategory,MismatchingCategory
0,1,some,NaN,Matching,Token,Category,T1,none,0,alligators,reptiles,mamals
1,1,some,NaN,Matching,Token,Category,T1,none,0,crocodiles,reptiles,mamals
2,1,some,NaN,Matching,Token,Category,T1,none,0,chameleons,reptiles,mamals
3,1,some,NaN,Matching,Token,Category,T1,none,0,iguanas,reptiles,mamals
4,1,some,NaN,Matching,Token,Category,T1,none,0,lizards,reptiles,mamals
...,...,...,...,...,...,...,...,...,...,...,...,...
1291,36,all,Zoologists says that,Matching,Category,Token,T5,say,1,bananas,fruit,insects
1292,36,all,Zoologists says that,Matching,Category,Token,T5,say,1,apples,fruit,insects
1293,36,all,Zoologists says that,Matching,Category,Token,T5,say,1,peaches,fruit,insects
1294,36,all,Zoologists says that,Matching,Category,Token,T5,say,1,pears,fruit,insects
1295,36,all,Zoologists says that,Matching,Category,Token,T5,say,1,plums,fruit,insects

## Make the grouping function

In [193]:
# import random

# def chunks(l, n):
#     """Yield successive n-sized chunks from l."""
#     for i in range(0, len(l), n):
#         yield l[i:i + n]

# n = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

# random.shuffle(n)

# list(chunks(n, 3))

In [90]:
# size = 18        # sample size
# replace = False  # with replacement
# fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]
# bn_table.groupby('grouper', as_index=False).apply(fn)

In [140]:
# this almost works but i don't want doubles of the 'token' column

# t = bn_table.groupby('SentNumber').apply(lambda x :x.iloc[random.choice(range(0,len(x)))]).reset_index(drop=True)

In [143]:
len(bn_table)

1296

In [237]:
# need to first add the additional column name
names = bn_table.columns
g = "Group"
names.append([g])

TypeError: all inputs must be Index

In [239]:
# convert the df to list
bn_list = []
for index,rows in bn_table.iterrows():
    my_list =[rows.Token, rows.MatchingCategory, rows.MismatchingCategory, rows.SentNumber, rows.Quantifier,rows.Matrix, 
             rows.WhichCategory, rows.Subject, rows.Predicate, rows.SentType, rows.Verb, rows.Embedded]
    
    bn_list.append(my_list)

In [240]:
# Make a list of the Alphabet 
import string
alphabets = string.ascii_uppercase
Group = []
for i in alphabets:
    Group.append(i)
Group = Group[0:18]

In [241]:
a = bn_list[1]
a[3]

1

## Pseudorandomizer

In [253]:

new = []
# Counter for bn_list
# Start at 1, for SentType (1 out of 36)
n=0 
# Counter for Group
# Start at -1, so then can increment +1 to get 'A' which is at index 0 
k=-1 
for i in bn_list:

    # Append the value of Group to the sub-list
    if i[3] == n+1: # here is where i try to increment
        i.append(Group[k+1]) # Append to the list the letter at the same index in Group
        new.append(i)

    # Remove the sublist from the super-list
    
    


# this ends at 36 ALSO Accidentally added multiple extra columns

IndexError: list index out of range

[['alligators',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['crocodiles',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['chameleons',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['iguanas',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['lizards',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['geckos',
  'reptiles',
  'mamals',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['anchovies',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['carp',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['cod',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['piranhas',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['mackerels',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['herring',
  'fishes',
  'birds',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['eagles',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['canaries',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['crows',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['owls',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['sparrows',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['doves',
  'birds',
  'reptiles',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['cats',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['horses',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['dogs',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['pigs',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['elephants',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['sheep',
  'mammals',
  'fruit',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['wasps',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['cockroaches',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['cicadas',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['ants',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['flies',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['mosquitos',
  'insects',
  'fishes',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['strawberries',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['bananas',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['apples',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['peaches',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['pears',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A'],
 ['plums',
  'fruit',
  'insects',
  1,
  'some',
  nan,
  'Matching',
  'Token',
  'Category',
  'T1',
  'none',
  0,
  'A',
  'A']]

In [ ]:
Concate the DFs together

In [248]:
# Add names to the columns of the new DF

# neww_df = pd.DataFrame(neww)
# neww_df.columns = names

In [247]:
# neww_df